<div ng-controller="MenuCtrl" class="menu">
	<div class="menu__logo"><a href="http://www.lastfm.fr/user/{{user}}" target="_blank"><img src="img/Last.fm_Logo_White.png" alt="Last FM Logo" /></a></div>
	<ul class="menu__list">
		<li ui-sref-active="active" class="menu__item"><a ui-sref="recenttracks">Latest tracks</a></li>
		<li ui-sref-active="active" class="menu__item"><a ui-sref="topartists">Top artists</a></li>
		<li class="menu__item"><a href="" ng-click="toggle()">User infos</li>
	</ul>
	<div ng-include src="'templates/usercard.html'"></div>
</div>
