<section ng-include src="'templates/loading.html'"></section>

<div class="grid">
	<ul class="list">
		<li class="item" ng-repeat="track in tracks">
			<a href="{{track.url}}" target="_blank">
				<img class="js-track-img" src="{{track.image['3']['#text']}}" />
				<ul class="item__info">
					<li class="artist"><strong>{{track.artist['#text']}}</strong></li>
					<li class="name">{{track.name}}</li>
					<li class="album"><em>{{track.album['#text']}}</em></li>
					<li class="date">{{track.date['#text']}}</li>
				</ul>
			</a>
		</li>
	</ul>
</div>