<div ng-show="loading" class="loading"><span class="loader loader-bars"><span></span></span>Loading</div>

<div class="grid">
	<ul class="list">
		<li class="item" ng-repeat="artist in artists">
			<a href="{{artist.url}}" target="_blank">
				<img class="js-artist-img" src="{{artist.image['4']['#text']}}">
				<ul class="info">
					<li class="name"><strong>{{artist.name}}</strong></li>
					<li class="album"><em>{{artist.playcount}} plays</em></li>
					<li class="date">{{artist.date['#text']}}</li>
				</ul>
			</a>
		</li>
	</ul>
</div>